.card {
    width: 750px;
    border: 2px solid ;
    border-radius: 10px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 15px;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid !important;
    border-radius: 5px !important;
}